.main-burger {
  position: absolute;
  right: 0;
  z-index: $z-burger;
  display: block;
  padding: $rhythm;

  > img { width: 24px; }

  @media(min-width: $small-screen) {
    display: none;
  }
}

.main-burger-toggle {
  display: none;

  &:checked + .wrap .content,
  &:checked + .wrap + * {
    display: none;
  }
  // checked state for nav @ primary-navigation.scss
}

